<div class="l-main">
  {% if block('top_left') is defined or block('top_right') is defined %}
    <div class="l-main__top">
      <div class="l-main__top__left">
        {% block top_left %}{% endblock %}
      </div>
      <div class="l-main__top__right">
        {% block top_right %}{% endblock %}
      </div>
    </div>
  {% endif %}
  {% if block('content') is defined %}
    <div class="l-main__content">
      {% block content %}{% endblock %}
    </div>
  {% endif %}
</div>
