:root {
  /* Colors */
  --primary-color: #fe6833;
  --light-color: #fff;
  --dark-color: #000;

  /* Font sizes */
  --font--size--l: 1.75rem;
  --font-size--m: 1.2rem;
  --font-size--base: 1rem;

  /* Font familys */
  --font-main: 'Montserrat', sans-serif;

  /* Breakpoints */
  --screen-tablet: 768px;
  --screen-descktop: 1023px;

  --site-max-width: 1920px; /* 1920px */
}
