:root {
  /* Colors */
  --primary-color: #fe6833;
  --light-color: #fff;
  --dark-color: #000;
  --gray--color: #dce1eb;
  --green-color: #00a652;
  --pink-color: #ff7fc2;
  --blue-color: #006dfc;

  /* Font sizes */
  --font--size--l: 1.75rem;
  --font-size--m: 1.2rem;
  --font-size--base: 1rem;

  /* Font familys */
  --font-main: 'Montserrat', sans-serif;

  --site-max-width: 77.5rem; /* 1240px */
}
