:root {
  --primary-color: #ff0000;
  --light-color: #fff;
  --font--size--l: 1.75rem;
  --font-size--m: 1.2rem;
  --font-size--base: 1rem;

  --font-main: 'Roboto', sans-serif;

  --screen-descktop: 1023px;
}
